/* Link styling */
a, a span, .link-container {
    color: var(--color-hyperlink-01);
    text-decoration: underline solid var(--color-hyperlink-01) 0.1em;
    text-underline-offset: 0.1em;

    &:hover, &:focus {
        text-decoration: none;
    }

    /* 'new tab' links */
    &.newtab::after, &.white::after {
        display: inline-block;
        // position: absolute;
        content: " ";
        // font-size: 0.75em;
        background: url("../assets/icons/icon_arrow_ne_purple_crop.svg") no-repeat right center;
        background-size: 0.5em;
        margin-left: 0.15em;
        margin-right: 0.09em;
        position: relative;
        height: 0.5em;
        width: 0.5em;
    }

    &.email, &.linkedin {
        &:before{
            display: inline-block;
            position: relative;
            content: " ";
            background: url("../assets/icons/icon_email.svg") no-repeat left center;
            background-size: 0.7em;
            height: 0.7em;
            width: 0.7em;
            margin-right: 0.2em;
        }
        
    }

    &.linkedin {
        &:before{
            background: url("../assets/icons/icon_linkedin.svg") no-repeat left center;
            background-size: 0.7em;
        }
    }

    /* 'back' link */
    &.back {
        color: var(--color-hyperlink-01);
        opacity: 1;
        &::before {
            display: inline-block;
            content: " ";
            background: url("../assets/icons/icon_arrow_w_purple_crop.svg") no-repeat left center;
            background-size: 0.8em;
            height: 0.8em;
            width: 0.8em;
            // margin-left: 0.25em;
            margin-right: 0.35em;
            position: relative;
        }
    }

    /* 'go to' link */
    &.goto, .goto {
        color: var(--font-color-white);
        opacity: 1;
        text-decoration: underline solid var(--font-color-white) 0.1em;
        &::after {
            display: inline-block;
            content: " ";
            background: url("../assets/icons/icon_arrow_e_white_crop.svg") no-repeat left center;
            background-size: 0.8em;
            height: 0.8em;
            width: 0.8em;
            margin-left: 0.25em;
            margin-right: 0.25em;
            position: relative;
        }
        &:hover, &:focus {
            text-decoration: none;
        }
    }

    /* 'jump to' link */
    &.jump { 
        display: inline-flex;
        position: relative;
        // Add idle moving animation later?
        color: var(--font-color-white);
        opacity: 1;
        text-decoration: underline solid var(--font-color-white) 0.1em;
        &::after {
            display: block;
            content: " ";
            // background: url("../assets/icons/icon_arrow_s_white_crop.svg") no-repeat left center;
            background: url("../assets/icons/icon_arrow_s_white_crop.svg") no-repeat;
            background-size: 0.8em;
            height: 0.8em;
            width: 0.8em;
            right: calc(-0.8em - 0.5em);
            bottom: 0; 
            position: absolute;
        }
        &:hover, &:focus {
            text-decoration: none;
            color: var(--color-hyperlink-01);
            &::after {
                background: url("../assets/icons/icon_arrow_s_purple_crop.svg") no-repeat left center;
                background-size: 0.8em;
                height: 0.8em;
                width: 0.8em;
            }
        }
    }

    /* white links */
    &.white{
        color: var(--color-hyperlink-white);
        text-decoration: underline solid var(--color-hyperlink-white) 0.1em;
        &:hover, &:focus {
            text-decoration: none;
        }
    }

    &.white::after{
        background: url("../assets/icons/icon_arrow_ne_white_crop.svg") no-repeat right center;
        background-size: 0.5em;
    }

}
