extends templates/_layout

block variables
    - var bodyClass = 'contact'
    - var n4 = 'selected'

block main
    main
        section.section.d-flex.flex-column-reverse
            .content
                h1.evenhuger 
                    a(href="mailto:cas.sugihwo@gmail.com" target="_blank" class="newtab") Email
                    |  me and let's 
                    a(href="https://www.linkedin.com/in/cas-sugihwo-819896234/" target="_blank" class="newtab") connect
                    | !
            .container.mb-4.ms-0
                        .row
                            .col-md.mb-1
                                a(href="mailto:cas.sugihwo@gmail.com" target="_blank" class="white newtab email") cas.sugihwo@gmail.com
                            .col-md.mb-1
                                a(href="https://www.linkedin.com/in/cas-sugihwo-819896234/" target="_blank" class="white newtab linkedin") Connect on Linkedin