extends templates/_layout

block variables
    - var bodyClass = 'intro'
    - var n1 = 'selected'

block main
    main
        section.section
            .home-title
                h1.huge Hello, I'm 
                    a(href="about.html") Cas
                    | ! 
                    //- span.titlenewline I'm a [Programmer, UX Designer, Web Developer]
                    span(class="titlenewline") I'm a 
                        span(class="typing" aria-label="Developer.")
                            span.word
                                span.l D
                                span.l e
                                span.l v
                                span.l e
                                span.l l
                                span.l o
                                span.l p
                                span.l e
                                span.l r
                                span.l .
                            span.cursor |
                    span(class="titlenewline") A student at 
                    a(href="https://www.sfu.ca/" target="_blank" class="newtab") SFU
                    |  who cares a lot about code, design and the human experience :)
            