extends templates/_layout
include inc/_project-card
include inc/_jump-link

block variables
    - var bodyClass = 'projects'
    - var n3 = 'selected'

block main
    main
        section.section
            .content
                h1.huge Projects
                p.mt-1.mb-5
                    | In here, you can see some projects I've done either for school or for fun!
                +jump-link("#all_projects", "see all my projects")
            .content.highlighted-project
                h2.mb-3 Highlighted Project
                .section.container.ps-0.pe-0.ms-0.me-0
                    .row.g-4h
                        .col-md-7
                            div
                                h3
                                    a(href="projects/request_dashboard.html" class="highlighted-project-title goto") Request Dashboard
                                p.subtitle.mt-1 An Interaction Design Project
                            p.mt-4
                                | The Request Dashboard is the result of 4 months of research, brainstorming and iteration. This semester-long group project was done during an interaction design course, alongside 3 other people. In collaboration with a local escape room business, my team and I used interaction design methods to come up with a solution that reduces cognitive load and improves task coordination by providing a clear, shared system for prioritizing and delegating tasks. 
                        .col-md-5
                            img(src="assets/img/projects/request-dashboard/project_request-dashboard_mock-01_thumbnail.png" alt="Mockup of Reminder Dashboard" loading="lazy")
            div(class="content all-projects" id="all_projects")
                h2.mb-3 All My Projects
                .section
                    // +project-card(href, title (3), image path (assets/img/...), alt text for image)
                    +project-card("projects/request_dashboard.html","Request Dashboard","projects/request-dashboard/project_request-dashboard_mock-01_thumbnail.png","Mockup of Reminder Dashboard")
                    +project-card("underconstruction.html","Uber Eats UX Project","projects/uber-eats-study/project_uber-eats-study_mock-01_thumbnail.png","Mockup of Uber Eats project")
                    +project-card("underconstruction.html","Wordle Bot","projects/wordle-bot/project_wordle-bot_thumbnail.png","Picture of Wordle Bot with a test game displayed")