extends templates/_layout

block variables
    - var bodyClass = 'underconstruction'

block main
    main
        section.section
            h1 So sorry!
            p.mb-3 This page is under construction. Please come back another time!
            a(href="projects.html") Go back

