@media (width > 80rem) {
  :root {
    --font-size-evenhuger: clamp(2.5rem, 8.5vw, 8.5vw);
    --font-size-huge: clamp(2.5rem, 5.5vw, 5.5vw);
  }
  section.section {
    grid-column: var(--section-col-start-large)/var(--section-col-end-large);
  }
  .block-2-col {
    -ms-grid-columns: 1fr 1.7fr;
    grid-template-columns: 1fr 1.7fr;
  }
  body.project-article .content {
    margin-bottom: 10rem;
  }
}
/* 1280 px */
@media (width <= 80rem) {
  :root {
    --font-size-evenhuger: clamp(2.5rem, 9.5vw, 9.5vw);
    --font-size-huge: clamp(2.5rem, 5.8vw, 5.8vw);
    --font-size-title: clamp(2rem, 5vw, 5vw);
  }
}
/* 6 columns when <= 1020px*/
@media (width <= 63.75rem) {
  :root {
    --font-size-evenhuger: clamp(2.5rem, 10vw, 10vw);
    --font-size-huge: clamp(2.5rem, 7.5vw, 7.5vw);
    --font-size-title: clamp(2rem, 6.5vw, 6.5vw);
  }
  body {
    --grid-col: var(--grid-col-6);
  }
  header .hamburgermenu {
    display: block;
  }
  header .hamburgermenu.nojs {
    display: none;
  }
  section.section {
    grid-column: var(--section-col-start-mobile)/var(--section-col-end-mobile);
  }
  nav.nav-list {
    display: none;
  }
  nav.nav-list.offcanvas-nav {
    display: block;
  }
}
/* 3 columns when <= 760px*/
@media (width <= 47.5rem) {
  :root {
    --grid-col: var(--grid-col-3);
    --font-size-evenhuger: clamp(2.5rem, 10vw, 10vw);
    --font-size-huge: clamp(2.5rem, 9vw, 9vw);
    --font-size-title: clamp(2rem, 7vw, 7vw);
  }
  .block-2-col, .block-2-col-inv {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .block-2-col > *:nth-child(1), .block-2-col-inv > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .block-2-col > *:nth-child(2), .block-2-col-inv > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  body.about section.section {
    gap: 0;
  }
  body.about section.section h1 {
    margin-bottom: 10rem;
  }
  body.about section.section .row1, body.about section.section .row2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 0;
  }
  body.projects .content.all-projects .section a.project-card {
    width: 100%;
  }
  .vertical-scroll img {
    width: 50%;
  }
}
/* 2 columns when <= 500px*/
@media (width <= 31.25rem) {
  :root {
    --page-margin-horizontal: 1.25rem; /* 20px */
    --page-margin-vertical: 1.875rem; /* 30px */
    --grid-col: var(--grid-col-2);
    --font-size-evenhuger: clamp(2.5rem, 17vw, 17vw);
    --font-size-huge: clamp(2.5rem, 10vw, 10vw);
    --font-size-title: clamp(2rem, 8vw, 8vw);
  }
  .offcanvas.offcanvas-end {
    width: calc(100vw - 3rem);
  }
}
@media (scripting: none) {
  header .hamburgermenu {
    display: none;
  }
}
@media (width <= 63.75rem) and (scripting: none) {
  header .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  header .hamburgermenu.nojs {
    display: block;
  }
}
@media (width <= 47.5rem) and (scripting: none) {
  header .hamburgermenu.nojs nav.nav-list a, header .hamburgermenu.nojs nav.nav-list h2 {
    font-size: 0.8rem;
    line-height: 1rem;
  }
}
@media (width <= 31.25rem) and (scripting: none) {
  header .hamburgermenu.nojs nav.nav-list a, header .hamburgermenu.nojs nav.nav-list h2 {
    font-size: 0.85rem;
  }
}