footer
    p
        a(href="about.html") Cas Sugihwo
        |  @ 2025.
    p typeset in 
        a(href="https://pangrampangram.com/products/mori") Mori
        |  by 
        a(href="https://pangrampangram.com/") Pangram Pangram Foundry
        | .